<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link href="{% static "CSS/bootstrap-5.3.3-dist/css/bootstrap.min.css" %}" rel="stylesheet">
  <script src="{% static "CSS/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "CSS/fontawesome-free-6.6.0-web/css/all.css" %}">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mr-5">
      <!--for the BLOGSPOT logo-->
    <a class="navbar-brand mr-5 p-5" href="#"><strong class="text-dark" style="font-weight: bold; font-size: 25px;">BLOG</strong><strong class="text-danger"  style="font-weight: bold; font-size: 25px;">SPOT</strong></a>
      <!--the dropdown button-->
    <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-5 mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><strong class="text-dark">HOME</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong class="text-dark">BLOGS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong class="text-dark">CONTACTS</strong></a>
        </li>
        <li>
          <a class="nav-link" href="#"><i class="fa fa-user"></i></a>
        </li>
      </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <form action="#" class="p-5 shadow" style="height: 700px; width: 50%;">
      <h3 class="text-danger" style="font-weight: bold;font-size: 30px;">SIGNUP</h3>
      <label for="#" class="form-label mt-5">Username</label>
      <div class="input-group mt-1">
        <span class="input-group-text">@</span>
          <input type="text" class="form-control" name="username" required>
      </div>
      <label for="" class="form-label mt-2">Email</label>
      <div class="input-group mt-1">
        <input type="text" name="email" class="form-control">
      </div>
      <label for="" class="form-label mt-2">Password</label>
      <div class="input-group mt-1">
        <input type="password" name="password" class="form-control">
      </div>
      <label for="" class="form-label">Confirm Password</label>
      <div class="input-group mt-1">
        <input type="password" name="password" class="form-control">
      </div>
      <button class="btn bg-danger text-light align-items-center mt-4" style="width: 100%; font-size: 20px;">Signup</button>
      <p class="para mt-3" style="text-align: center; font-weight: 500;">Have an account? <a href="#" class="text-primary">Login</a></p>
    </form>
  </div>
</div>

<footer class="bg-dark mt-5" style="height: 450px;">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="text-light">SERVICE</h4>
        <ul>
          <li><a href="#" class="text-light text-decoration-none">Shipping & Returns</a></li>
          <li><a href="#" class="text-light text-decoration-none">Size Guide</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="text-light">ACCOUNT</h4>
        <ul>
          <li><a href="#" class="text-light text-decoration-none">Login</a></li>
          <li><a href="#" class="text-light text-decoration-none">Signup</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="text-light">INFORMATION</h4>
        <ul>
          <li><a href="#" class="text-light text-decoration-none">Our Story</a></li>
          <li><a href="#" class="text-light text-decoration-none">Find a stocklist</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="text-light">CONNECT</h4>
        <ul>
          <li><a href="https://www.linkedin.com/in/keerti-vishwkarma-8ba754243/" class="text-light text-decoration-none">Facebook</a></li>
          <li><a href="https://www.linkedin.com/in/keerti-vishwkarma-8ba754243/" class="text-light text-decoration-none">Instagram</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <p class="text-light text-decoration-none">Developed with 💖 by <a href="https://www.linkedin.com/in/keerti-vishwkarma-8ba754243/">Keerti</a> <br>
            &copy; Copyright 2023 | All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>